h1 {
    text-align: center;
}

.shopping-list-controls {
  background-color: white;
  border: 1px solid #7ba3a2;
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  max-height: 20%;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  flex-wrap: wrap;
}

.shopping-list {
  background-color: white;
  border: 1px solid #7ba3a2;
  border-radius: 12px;
  padding: 20px;
  margin: 15px auto;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.shopping-list h2 {
    margin-top: 0;
}

.shopping-list ul {
    list-style: none;
    padding: 0;
}

.shopping-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.shopping-list li input[type="text"] {
    flex: 1;
}

input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button {
    padding: 6px 12px;
    background-color: #2c5f2d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
